@tailwind base;
@tailwind components;
@tailwind utilities;

.products_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    gap: .75rem;
    padding: 1.25 rem;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    scrollbar-width: 0;
}

@media screen and (min-width: 500px) {
    .products_container {
        grid-template-columns: repeat(auto-fill, 200px);
    }

}

.categories_container::-webkit-scrollbar {
    background-color: transparent;
    height: .5rem;
}

.categories_container::-webkit-scrollbar-thumb:horizontal {
    background-color: #4a5568;
    border-radius: 1rem;
}

.filter_img:hover>img {
    filter: invert()
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 70%;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}